body {
  margin: 0;
  background: radial-gradient(circle at top, #020617, #000000);
  color: #e5e7eb;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero-img {
  width: 230px;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(56,189,248,0.45);
  margin-bottom: 25px;
}

.hero h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.hero p {
  font-size: 1.2rem;
  color: #94a3b8;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 26px;
  margin: 10px;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #38bdf8;
  color: #020617;
}
